*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: rgb(173, 226, 235);
  height: 2rem;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  min-width: 4rem;
}

button:hover {
  background-color: rgb(126, 222, 236);
}

hr {
  margin: 0.75rem 0;
  border-color: rgb(207, 207, 207);
  opacity: 0.2;
}

/* flex */
.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

/* padding */
.pa-1 {
  padding: 0.25rem;
}

.pa-2 {
  padding: 0.5rem;
}

.pa-3 {
  padding: 0.75rem;
}

.pa-4 {
  padding: 1rem;
}

/* margin */
.ma-1 {
  margin: 0.25rem;
}

.ma-2 {
  margin: 0.5rem;
}

.ma-3 {
  margin: 0.75rem;
}

.ma-4 {
  margin: 1rem;
}

/* gap */
.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  margin: 1rem;
}
